.post-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .post {
    width: 803px;
    height: 500x;
    background: #2C2C2C;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 16px;
  }
  
  .post-profile-image {
    margin-right: 8px;
    border-radius: 50%;
  }
  
  .post-username {
    font-weight: bold;
  }
  
  .post-textarea-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .post-textarea {
    width: 726px;
    height: 167px;
    background: #383838;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }
  
  .post-textarea textarea {
    border: none;
    resize: none;
    background: none;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
  }
  
  .post-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
  }
  
  .post-button {
    width: 140px;
    height: 40px;
    background-color: #5CAD4A;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .post-button:hover {
    background-color: #449038;
  }

  /* Imagen del botón "Me gusta" */
.post-like-button {
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-right: 8px;
}

/* Imagen del botón "No me gusta" */
.post-dislike-button {
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-right: 8px;
}