.post-container {
    display: flex !important;
    justify-content: center !important;
}

.comments {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    height: 600px !important;
    width: 100% !important;
    overflow-y: auto !important;
  }

.post {
    width: 803px !important;
    height: 279px !important;
    background: #2C2C2C !important;
    border-radius: 24px !important;
}
    
.post-header {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 8px !important;
}
    
.post-profile-image {
    margin-right: 8px !important;
    border-radius: 50% !important;
}
    
.post-username {
    font-weight: bold !important;
}
    
.post-textarea {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    padding: 16px 16px 8px 15px !important;
    gap: 8px !important;
    width: 726px !important;
    height: 167px !important;
    background: #383838 !important;
    border-radius: 8px !important;
}
    
.post-comment-button {
    display: flex !important;
    flex-direction: column !important;
    justify-content: right !important;
    align-items: center !important;
    padding: 10px 20px !important;
    width: 260px !important;
    height: 40px !important;
    background-color: #5CAD4A !important;
    border-radius: 12px !important;
}